.menuContainer--mobileMenu .styledLinkContainer{
    padding: 10px 20px;
    background: #308391;
    margin: 0px;
    width: 100%;
    border-bottom: 2px solid #fff;
}
.menuContainer--mobileMenu .styledLink{
    color: #fff;
}
.menuContainer--mobileMenu .menuContainer--mobileSubmenu .styledLinkContainer{
    padding: 10px 20px;
    background: #fff;
    margin: 0px;
    width: 100%;
    border-bottom: 1px solid #308391;
}
.menuContainer--mobileMenu .menuContainer--mobileSubmenu .styledLink{
    color: #308391;
}

@media only screen and (min-width: 80em){
    .menuContainer{justify-content: center;}
    .styledLink{
        color:#fff;
        font-size: .9em;
    }
    .submenu{
        justify-content: left;
        width:300px;
    }
    .submenu .menuItem .styledLink{
        color:#000;
        justify-content: left;
        text-align: left;
        transition: all ease 0.3s;
    }
    .submenu .menuItem .styledLink:hover{
        color: #308391;
    }
}